:root {
  --color-light-blue: #214077;
  --color-blue: #1b3769;
  --color-dark-blue: #18325f;
  --color-very-dark-blue: #152b53;

  --color-light-gray: #f7f7f7;
  --color-gray: #e4e4e4;
  --color-dark-gray: #6b6b6b;
}