.change-pass-option {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.change-pass-field {
    user-select: none;
    display: flex;
    height: 2.5rem;
    background: var(--color-light-gray);
    align-items: center;
    color: var(--color-dark-gray);
    justify-content: center;
    flex: 1
}

.change-pass-button img {
    max-height: 1.8rem;
}