.link-button {
    color: var(--color-blue);
}

.link-button:hover {
    color: var(--color-dark-blue);
    text-decoration: underline;
    cursor: pointer;
}

.link-button.disabled {
    color: var(--color-dark-gray);
}
.link-button.disabled:hover {
    cursor: none;
    text-decoration: none;
}
