.button {
  border-radius: 10px;
  border: 1px #929292 solid;
  background-color: white;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  flex: 1;
}

.button img {
  height: 1.5rem;
}

.button:enabled:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.8;
}

.blue-button {
  background: #1B3769;
  border: none;
  color: white;
}

.blue-button:enabled:hover {
  background: #18325f;
}

.blue-button:disabled {
  opacity: 0.8;
}