.input-field-block {
  position: relative;
}

.input-password {
  padding-right: 3.5rem;
}

.password-toggle {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}