.login-message {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 18%;
}

.login-message-header {
    font-weight: 400;
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* .login-message-body {
    color: rgb(218, 218, 218);
} */

@media (min-width: 1023px) {
    .login-message {
        display: none;
    }
}

@media (max-height: 740px) {
    .login-message-body {
        display: none;
    }

    .login-message {
        top: 18%;
    }
}