.input-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  flex: 1;
}

.input-group.hidden {
  display: none;
}

.input-field {
  border: 1px #9b9b9b solid;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  width: 100%;
}

.input-field:disabled {
  border-color: #d1d1d1;
  color: #d1d1d1;
}

.input-field-message {
  color: #742f2f;
}

.input-label {
  white-space: nowrap;
}

.input-label-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.input-group:has(.input-field:disabled) .input-label {
  color: #d1d1d1;
}

@media (max-width: 768px) {
    .input-field-message {
        font-size: 0.75rem;
    }
}
