.dashboard-content {
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.dashboard-nav {
  position: relative;
  background: var(--color-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

.dashboard-nav-list {
  display: flex;
}

.dashboard-nav-tab-list {
  column-gap: 1rem;
}