.header {
  background: var(--color-blue);
  color: white;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  column-gap: 1rem;
}

.header-nav-button {
  display: flex;
  border-radius: 10px;
  font-weight: 500;
}

.header-nav-button a {
  padding: 1rem 1.5rem;
}

.header-nav-button:hover,
.header-nav-button:has(a.active) {
  background: var(--color-dark-blue);
}
